@model List<APPR6312_Part1_1_.Models.Domain.goodsDonation>
@{
}

<h2 class="text-center" style="margin-top:80px"  style="color: whitesmoke">All Goods Donation</h2>
<br />
<br />

<table class="table table-striped-columns"style="color: whitesmoke">
    <thead>
        <tr>
            <th>Donation Date</th>
            <th>Donor Name</th>
            <th>Number of Items</th>
            <th>Goods Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody style="color: whitesmoke">
        @foreach (var donation in Model)
        {
            <tr>
                <td>@donation.DonationDate.ToShortDateString()</td>
                <td>@donation.DonorName</td>
                <td>@donation.NumberOfItems</td>
                <td>@donation.goodsCategory</td>
                <td>@donation.Description</td>
                
            </tr>
        }
    </tbody>
</table>
</div>
@*//The following method was taken from youtube
// Author: Sameer Saini
//Link: https://youtu.be/2Cp8Ti_f9Gk?si=ve2zdqpPaGJ2rfVO*@